<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 찾기</title>
</head>

<body>
  <div>
    <div>비밀번호를 찾고자하는 아이디를 입력해주세요.</div>
    <div>
      <form action="/postId" method="post" id="sub">
        <input oninput="checke()" class="emailinput" type="email" placeholder="이메일을 작성해 주세요." name="id" required />
        <button onclick="checkpw()">비밀번호 찾기</button>
      </form>
      <div>
        <div class="pwinfo"></div>
      </div>

    </div>
</body>
<script src="/JS/findpw.js"></script>

</html>