<!DOCTYPE html>
<html lang="en">

<head>
  <!-- alert창 CDN -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link rel="stylesheet" href="/CSS/join.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
</head>
<!-- 회원가입 페이지 -->

<body>
  <div class="join-box">
    <form action="/postForm" method="post" name="joinForm">
      <div>
        <div>ID</div>
        <div class="dupleCheckBox">
          <input class="emailinput" type="email" placeholder="이메일을 작성해 주세요." name="id" oninput="checke()" required />
          <div class="checkbtn">중복확인</div>
        </div>
        <div class="text checkemail"></div>
      </div>

      <div>
        <div>비밀번호</div>
        <input class="pass" type="password" placeholder="비밀번호를 입력해 주세요." name="pw" oninput="checkPw()" required />
        <div class="text checkpw"></div>
      </div>
      <div>
        <div>비밀번호 확인</div>
        <input class="passcheck" type="password" placeholder="비밀번호를 한번 더 입력해주세요." name="pw2" oninput="checkSame()"
          required />
        <div class="text checkpw2"></div>
      </div>

      <div>
        <div>이름</div>
        <input type="text" placeholder="이름을 입력해 주세요." name="name" required />
      </div>
      <div>
        <div>생년월일</div>
        <input type="date" placeholder="년월일" name="birth" required />
      </div>
      <div>
        <div>성별</div>
        <input type='radio' name='gender' value='female' />여성
        <input type='radio' name='gender' value='male' />남성
      </div>
      <div>
        <div>휴대전화번호</div>
        <input maxlength="3" class="phonecheck1" oninput="checkPhone(1)" type="number" name="phone1" required /> -
        <input maxlength="4" class="phonecheck2" oninput="checkPhone(2)" type="number" name="phone2" required /> -
        <input maxlength="4" class="phonecheck3" oninput="checkPhone(3)" type="number" name="phone3" required />
        <div class="text checkphone1"></div>
        <div class="text checkphone2"></div>
        <div class="text checkphone3"></div>
      </div>
      <input type="button" onclick="joinreq()" value="회원가입" />
    </form>
  </div>
</body>

<script src="/JS/join.js"></script>

</html>